<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--ログ出力設定-->
  <log4net>
    <!--アペンダ設定-->
    <appender name="LoggerAppender" type="log4net.Appender.RollingFileAppender">
      <!--出力先-->
      <File value=".\Log\" />
      <!--ファイル名-->
      <DatePattern value='yyyyMMdd".log"' />
      <!--静的ファイル名フラグ-->
      <StaticLogFileName value="false" />
      <!--追記モードフラグ-->
      <AppendToFile value="true" />
      <!--ログ新規切り替え条件-->
      <RollingStyle value="Composite" />
      <!--ファイル切り替えマックス数-->
      <maxSizeRollBackups value="5" />
      <!--ログ出力内容パターン-->
      <Layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%date [%-5level] (%method) - %message%n" />
      </Layout>
      <!--全てのログレベルを出力-->
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--デバッグ以上-->
        <levelMin value="DEBUG" />
        <!--エラー以下-->
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <!--アペンダ登録-->
    <root>
      <level value="Debug" />
      <appender-ref ref="LoggerAppender" />
    </root>
  </log4net>
</configuration>